@model AddRoleToUserCeateViewModel
@{
    ViewData["Title"] = "Add Role Permission";
}
<div class="row justify-content-center">
    <div class="col-12 col-xl-8">
       
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-4">Add role permission to user</h2>
            <form method="post" enctype="multipart/form-data" asp-controller="Role" asp-action="AddRoleToUser">
              
               
              
               
                <div class="row align-items-center">

                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="first_name">User Email <small class="text-danger">*</small> </label>
                            <input class="form-control" asp-for="UserEmail" placeholder="Enter user Email ">
                            <span class="text-danger" asp-validation-for="UserEmail"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="gender">Role <small class="text-danger">*</small></label>
                        <select class="form-select mb-0" asp-for="RoleName" aria-label="Gender select example">
                            <option selected value="">Role</option>
                            <option value="Admin">Admin</option>
                            <option value="User">User</option>
                        </select>
                        <span class="text-danger" asp-validation-for="RoleName"></span>
                    </div>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mt-3">
                    <a class="btn btn-pill btn-secondary mt-2 animate-up-2 " style="float:left;" asp-controller="Role" asp-action="Index">All Roles</a>
                    <button class="btn btn-pill btn-secondary mt-2 animate-up-2 " style="float:right;" type="submit">Save</button>
                </div>
            </form>
        </div>

    </div>

</div>
@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
    }