@model IpWishListCreateViewModel
@{
    ViewData["Title"] = "Add Ip Address";
}
<div class="row justify-content-center">
    <div class="col-12 col-xl-8">
       
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-4">Add New Ip Address To WishList</h2>
            <form method="post" enctype="multipart/form-data" asp-controller="IpWishList" asp-action="Create">
      
                <div class="row align-items-center">

                    <div class="col-md-6 mb-3">
                        <label for="gender">Ip Address</label>
                        <input class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" asp-for="IpAddress" placeholder="192.168.0.187"> </input>
                        <span class="text-danger" asp-validation-for="IpAddress"></span>
                    </div> <div class="col-md-6 mb-3">
                        <button class="btn btn-pill btn-secondary mt-2 animate-up-2 " style="float:right;" type="submit">Save</button>
                    </div>
                </div>
               
            </form>
        </div>

    </div>

</div>
@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
    }